
:root{
    --azul: #003792;
    --naranja: #e64a00;
    --azul-claro: #0038924d;
    --blanco: #fff;
    --negro: black;
    --naranja-claro: #e6490094;
}

/* General*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.main{
    display: flex;
    flex-direction: column;
}

section[id]{
    scroll-margin-top: 115px;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: var(--azul);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

html.sr .load-hidden {
    visibility: hidden;
  }

  html.sr .contacto {
    visibility: hidden;
  }

/* Menu */

.cabecero{
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    background-color: var(--blanco);
    align-items: center;
    transition: all 0.5s ease;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.539);
}

.imagen{
    display: flex;
}

#logo{
    height: 75px;
    
}

a{
    text-decoration: none;
    color: var(--azul);
    transition: all 0.5s ease;
    font-weight: bold;
}

ul{
    list-style: none;
    text-align: center;
    padding: 10px;        
}

li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

li a:hover{
    color: var(--blanco);
    background:var(--azul);
    padding: 5px 10px;
    border-radius: 15px;
}

/* Portada */

.texto-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    text-align: center;
}

.texto-header h1{
    font-size: 50px;
    color: var(--blanco);
}

.texto-header h2{
    font-size: 30px;
    color: var(--blanco);
    font-weight: 300;
}

.texto-principal{
    width: 100%;
    height: 675px;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(245, 36%, 45%, 0.55), hsla(187, 72%, 50%, 0.55)), url(/images/portada.jpeg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(245, 36%, 45%, 0.55), hsla(187, 72%, 50%, 0.55)), url(/images/portada.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    position: relative; 
    margin-top: 115px;  
}

.ola{
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* Nosotros */

#nosotros{
    scroll-margin-top: 115px;
}

.contenedor-nosotros{
    display: flex;
    justify-content: space-evenly;
}

#nosotros-img{
    width: 48%;
    margin-bottom: 45px;
}

.nosotros .contenedor-texto-nosotros{
    width: 48%;    
}

.contenedor-texto-nosotros h3 span{
    background-color: var(--naranja);
    color: var(--blanco);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenedor-texto-nosotros{
    margin-bottom: 15px;
}

.contenedor-texto-nosotros p{
    padding: 10px 0px 30px 15px;
    text-align: justify;
    font-weight: 300;
}

#nosotros{
    padding-top: 30px;
}

/* Galeria */

.galeria{
    background: var(--azul-claro);
}

.fotos-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-galeria{
    width: 30%;
    height: 300px;
    margin-bottom: 10px;
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.539);
}

.imagen-galeria > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: var(--azul-claro);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
    color: var(--blanco);
}

.hover-galeria p{
    color: var(--blanco);
}

.imagen-galeria:hover .hover-galeria{
    transform: scale(1);
}

/* Servicios */

.servicios-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-individual{
    width: 28%;
    text-align: center;
    color: var(--azul);    
}

.servicio-individual img{
    width: 90%
}

.servicio-individual h3{
    margin: 10px 0;
    font-size: 25px;
}

.servicio-individual p{
    font-weight: 300;
    text-align: justify;
    color: var(--negro);
}

/* Ubicacion */

.ubicacion{
    background: var(--azul-claro);
}

.contenedor-ubicacion{  
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#iframe-ubicacion{
    width: 100%;
    display: flex;
}

/* Contacto */

.contacto{
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-contacto{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 2px solid var(--azul-claro);
}

.cont-contacto{
    text-align: center;
}

.cont-contacto h4{
    color: var(--azul);
    border-bottom: 3px solid var(--naranja-claro); 
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 25px;
}

.cont-contacto p{
    color: var(--azul);
}

/* Footer */

.final{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.final a{
    
    text-align: center;
    font-size: 20px;
    color: var(--azul-claro);
}

.final a:hover{
    color: var(--blanco);
    border-radius: 15px;
    background: var(--azul);
    padding: 0 15px 0 15px;
}

/* Responsive */

@media (max-width:900px){
    .cabecero{
        flex-direction: column;
    }
    .texto-principal{
        background-position: center;
        height: 625px;        
        background-size: cover;
        margin-top: 165px;
    }
    section[id]{
        scroll-margin-top: 165px;
    }
    .contenedor-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedor-nosotros .contenedor-texto-nosotros{
        width: 90%;
    }
    #nosotros-img{
        width: 90%;
    }
    .imagen-galeria{
        width: 44%;
        margin-bottom: 25px;
    }
    .servicios-cont{
        flex-direction: column;
        justify-content: center;
    }
    .servicio-individual{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .servicio-individual:nth-child(1), .servicio-individual:nth-child(2){
        margin-bottom: 60px;
    }
    .contenedor-ubicacion{
        width: 90%;
    }
}

@media screen and (max-width:632px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .texto-header h1{
        font-size: 30px; 
    }
    .texto-header h2{
        font-size: 20px;
        margin-top: 25px;
    }
    .texto-principal{
        background-position: center;
        height: 590px;
        background-size: cover;
        margin-top: 198px;
    }

    section[id]{
        scroll-margin-top: 198px;
    }
    .imagen-galeria{
        width: 90%;
        margin-bottom: 25px;
    }
    .contenedor-contacto{
        flex-direction: column;
    }
    .cont-contacto{
        margin-bottom: 20px;
        text-align: center;
    }
    .final{
        font-size: 15px;
    }
}